<form action="index.php?route=extension/payment/vnpay_payment/checkout" method="post">
    <div class="buttons">
        <div class="pull-right">
            <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
        </div>
    </div>
</form>